<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Html Practice</title>
    </head>

    <body>
        <h1>Web development </h1>

        <p>Do you want to learn web development?</p>
        <p>To start you need to learn the following technologies:</p>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
        </ul>

        <h2>Beyond the basics</h2>
        <p>If you already knows HTML, CSS and JavaScript, I'll share
          some additional resources for your learning path.
        </p>

        <table>
            <thead>
                <th colspan="2">Free online courses</th>
            </thead>
            <tbody>
                <tr>
                  <td><a href="https://fullstackopen.com/en/">FullStackOpen</a></td>
                  <td>FullStack course with React, Node.js, Redux, MongoDB, GraphQL</td>
                </tr>
                <tr>
                  <td><a href="https://cs50.harvard.edu/web/2020/">Harvard CS50 Web</a></td>
                  <td>Web Programming with Python and JavaScript</td>
                </tr>
                <tr>
                  <td><a href="https://web-palvelinohjelmointi-21.mooc.fi/">Web server programming in Java</a></td>
                  <td>Server development with Spring framework</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
